.app_purple_theme {
    --bg-color: #FBF4FA;
    --inverted-bg-color: #7a006e;
    --primary-color: #2A0052;
    --secondary-color: #b500a3;
    --inverted-primary-color: #FBF4FA;
    --inverted-secondary-color: #FBF4FA;
}
